name: DocC

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build DocC archive
        run: |
            # Define external build path
            export DOCC_OUTPUT_PATH="$RUNNER_TEMP/docc_build"
            
            # Build docs outside the repo to avoid permission errors
            swift package generate-documentation \
              --target SpotifyKit \
              --disable-indexing \
              --transform-for-static-hosting \
              --hosting-base-path SpotifyWebAPI \
              --output-path "$DOCC_OUTPUT_PATH"

            # Bring artifacts back to repo
            mv "$DOCC_OUTPUT_PATH" ./docs

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v4
